@{
    ViewData["Title"] = "About";
    ViewData["Desenvolvedor"] = "Rafael de Oliveira Silva";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por @ViewData["Desenvolvedor"].</p>
