@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">          
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-cart-plus fa-2x"></i>
                </span>
                PDV
            </a>
        </div>
        <div class="col py-3 px-lg-5">
            <a asp-action="Produtos" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-tshirt fa-2x"></i>
                </span> 
                Produtos
            </a>
        </div>
    </div>

    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-store fa-2x"></i>
                </span>
                Abertura de Caixa
            </a>
        </div>
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-truck-moving fa-2x"></i>
                </span>
                Fornecedores
            </a>
        </div>
    </div>

    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-store-slash fa-2x"></i>
                </span>
                Fechamento de Caixa
            </a>
        </div>
        <div class="col py-3 px-lg-5">
            <a asp-action="FormasPagamento" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                </span>
                Formas de Pagamento
            </a>
        </div>
    </div>

    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-hand-holding-usd fa-2x"></i>
                </span>
                 Sangria de Caixa
            </a>
        </div>
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-calculator fa-2x"></i>
                </span>
                Acompanhamento de Vendas
            </a>
        </div>
    </div>

    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-search-dollar fa-2x"></i>
                </span>
                Consultar Preço
            </a>
        </div>
        <div class="col py-3 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-boxes fa-2x"></i>
                </span>
                Estoque
            </a>
        </div>
    </div>

    <div class="row mx-lg-n5">
        <div class="col py-5 px-lg-5">
            <a asp-controller="Infra" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-users fa-2x"></i>
                </span>
                Usuários
            </a>
        </div>
        <div class="col py-5 px-lg-5">
            <a asp-action="" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;">
                <span>
                    <i class="fas fa-key fa-2x"></i>
                </span>
                Alterar Senha
            </a>
        </div>
    </div>

</div>
