@inject Microsoft.AspNetCore.Identity.UserManager<AlphaMarketPDV.Models.UsuarioApp> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (User.IsInRole("Supervisor"))
    {
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarPDV()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acesssar ponto de venda.">
                    <span>
                        <i class="fas fa-cart-plus fa-2x"></i>
                    </span>
                    PDV
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="Produtos" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acesssar cadastro de produtos.">
                    <span>
                        <i class="fas fa-tshirt fa-2x"></i>
                    </span>
                    Produtos
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarCaixaAberto()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar abertura de caixa.">
                    <span>
                        <i class="fas fa-store fa-2x"></i>
                    </span>
                    Abertura de Caixa
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="Fornecedores" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acesssar cadastro de fornecedores.">
                    <span>
                        <i class="fas fa-truck-moving fa-2x"></i>
                    </span>
                    Fornecedores
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarCaixaFechado()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar fechamento de caixa.">
                    <span>
                        <i class="fas fa-store-slash fa-2x"></i>
                    </span>
                    Fechamento de Caixa
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="FormasPagamento" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acesssar cadastro de formas de pagamento.">
                    <span>
                        <i class="fas fa-money-bill-wave fa-2x"></i>
                    </span>
                    Formas de Pagamento
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarSangria()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar sangria de caixa.">
                    <span>
                        <i class="fas fa-hand-holding-usd fa-2x"></i>
                    </span>
                    Sangria de Caixa
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="Vendas" asp-action="AcompanharVenda" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acompanhar as vendas realizadas em um determinado período (Planilha).">
                    <span>
                        <i class="fas fa-calculator fa-2x"></i>
                    </span>
                    Acompanhamento de Vendas
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a asp-controller="Produtos" asp-action="ConsultarPreco" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Consultar o preço de um produto.">
                    <span>
                        <i class="fas fa-search-dollar fa-2x"></i>
                    </span>
                    Consultar Preço
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="Estoque" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Listar estoque de produtos.">
                    <span>
                        <i class="fas fa-boxes fa-2x"></i>
                    </span>
                    Estoque
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a asp-controller="UsuarioManager" asp-action="Index" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acessar cadastros de usuários.">
                    <span>
                        <i class="fas fa-users fa-2x"></i>
                    </span>
                    Usuários
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="UsuarioManager" asp-action="AlterarSenha" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Alterar senha do usuário logado.">
                    <span>
                        <i class="fas fa-key fa-2x"></i>
                    </span>
                    Alterar Senha
                </a>
            </div>
        </div>
    }
    else if (User.IsInRole("Atendente"))
    {
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarPDV()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Acesssar ponto de venda.">
                    <span>
                        <i class="fas fa-cart-plus fa-2x"></i>
                    </span>
                    PDV
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarCaixaAberto()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar abertura de caixa.">
                    <span>
                        <i class="fas fa-store fa-2x"></i>
                    </span>
                    Abertura de Caixa
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarCaixaFechado()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar fechamento de caixa.">
                    <span>
                        <i class="fas fa-store-slash fa-2x"></i>
                    </span>
                    Fechamento de Caixa
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a onclick="VerificarSangria()" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Realizar sangria de caixa.">
                    <span>
                        <i class="fas fa-hand-holding-usd fa-2x"></i>
                    </span>
                    Sangria de Caixa
                </a>
            </div>
        </div>

        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <a asp-controller="Produtos" asp-action="ConsultarPreco" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Consultar o preço de um produto.">
                    <span>
                        <i class="fas fa-search-dollar fa-2x"></i>
                    </span>
                    Consultar Preço
                </a>
            </div>
            <div class="col py-3 px-lg-5">
                <a asp-controller="UsuarioManager" asp-action="AlterarSenha" class="btn btn-dark btn-lg btn-block" style="height: 65px; width: 400px;" title="Alterar senha do usuário logado.">
                    <span>
                        <i class="fas fa-key fa-2x"></i>
                    </span>
                    Alterar Senha
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="text-center">
                <span style="color: tomato;">
                    <i class="fas fa-hand-paper fa-10x"></i>
                </span>
                <h1 class="text-danger">Oops!</h1>
            </div>
            <div class="text-center">
                <h2 class="text-danger">
                    <p>Você precisa está associado a um perfil para ter acesso a todas as funcionalidades!</p>
                    <p>Entre em contato com o supervisor do sistema!</p>
                </h2>
            </div>
        </div>
    }
</div>

<div class="modal"></div>

@section ScriptPage{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/jquery-3.5.1.js"></script>        
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                asp-fallback-src="~/js/jquery-3.5.1.js">
        </script>
    </environment>

    <script type="text/javascript">
        $body = $("body");

        function AvisoRecursoNaoImplementado() {
            swal({
                title: "Mensagem",
                text: "Este recurso ainda não foi implementado!",
                type: "error"
            })
        };


        function VerificarSangria()
        {
            $body.addClass("loading");

            $.ajax({
                contentType: 'application/json',
                dataType: "json",
                type: "POST",
                url: 'Home/VerificarCaixaAberto',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {},
                success: function (response) {
                    $body.removeClass("loading");

                    if (response == null)
                    {
                        swal({
                            title: "Erro",
                            text: "Erro ao verificar status do caixa.",
                            type: "error"
                        });
                    }
                    else
                    {
                        if (response == false) {
                            swal({
                                title: "Caixa Fechado",
                                text: "É necessário abrir o caixa para realizar uma sangria.",
                                type: "error"
                            });
                        }
                        else {
                            window.location.href = "@Url.Action("Sangria", "FluxoCaixa")";
                        }
                    }
                },
                error: function () {
                    $body.removeClass("loading");

                    swal({
                        title: "Erro no processamento",
                        text: "Erro verificar sangria.",
                        type: "error"
                    });
                }
            });
        };

        function VerificarPDV()
        {
            $body.addClass("loading");

            $.ajax({
                contentType: 'application/json',
                dataType: "json",
                type: "POST",
                url: 'Home/VerificarCaixaAberto',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {},
                success: function (response) {
                    $body.removeClass("loading");

                    if (response == null)
                    {
                        swal({
                            title: "Erro",
                            text: "Erro ao verificar status do caixa.",
                            type: "error"
                        });
                    }
                    else
                    {
                        if (response == false) {
                            swal({
                                title: "Caixa Fechado",
                                text: "É necessário abrir o caixa para realizar uma venda.",
                                type: "error"
                            });
                        }
                        else {
                            window.location.href = "@Url.Action("ProcessarVenda", "Vendas")";
                        }
                    }
                },
                error: function () {
                    $body.removeClass("loading");

                    swal({
                        title: "Erro no processamento",
                        text: "Erro verificar pdv.",
                        type: "error"
                    });
                }
            });
        };

        function VerificarCaixaAberto()
        {
            $body.addClass("loading");

            $.ajax({
                contentType: 'application/json',
                dataType: "json",
                type: "POST",
                url: 'Home/VerificarCaixaAberto',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {},
                success: function (response) {
                    $body.removeClass("loading");

                    if (response == null)
                    {
                        swal({
                            title: "Erro",
                            text: "Erro verificar abertura de caixa.",
                            type: "error"
                        });
                    }
                    else
                    {
                        if (response == false) {
                            window.location.href = "@Url.Action("Abertura", "FluxoCaixa")";
                        }
                        else {
                            swal({
                                title: "Caixa Aberto",
                                text: "O caixa já se encontra aberto.",
                                type: "error"
                            });
                        }
                    }
                },
                error: function () {
                    $body.removeClass("loading");

                    swal({
                        title: "Erro no processamento",
                        text: "Erro verificar abertura de caixa.",
                        type: "error"
                    });
                }
            });
        };

        function VerificarCaixaFechado()
        {
            $body.addClass("loading");

            $.ajax({
                contentType: 'application/json',
                dataType: "json",
                type: "POST",
                url: 'Home/VerificarCaixaFechado',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {},
                success: function (response) {
                    $body.removeClass("loading");

                    if (response == null)
                    {
                        swal({
                            title: "Erro",
                            text: "Erro verificar fechamento de caixa.",
                            type: "error"
                        });
                    }
                    else
                    {
                        if (response == false) {
                            window.location.href = "@Url.Action("Fechamento", "FluxoCaixa")";
                        }
                        else {
                            swal({
                                title: "Caixa Fechado",
                                text: "O caixa já se encontra fechado.",
                                type: "error"
                            });
                        }
                    }
                },
                error: function () {
                    $body.removeClass("loading");

                    swal({
                        title: "Erro no processamento",
                        text: "Erro verificar fechamento de caixa.",
                        type: "error"
                    });
                }
            });
        };

    </script>
}
