@model AlphaMarketPDV.Models.ViewModels.FornecedorView.FornecedorViewModel;

<form asp-action="">
    <div class="form-control-plaintext">
        <div class="card">
            <div class="card-header">
                <h5>Contato</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-control-plaintext">
                            <strong>
                                <label asp-for="Contato.Telefone" class="col-form-label"></label>
                            </strong>
                            <input asp-for="Contato.Telefone" class="form-control" data-mask="(00) 0000-0000" />
                            <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-control-plaintext">
                            <strong>
                                <label asp-for="Contato.Ramal" class="col-form-label"></label>
                            </strong>
                            <input asp-for="Contato.Ramal" class="form-control" data-mask="000" />
                            <span asp-validation-for="Contato.Ramal" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-control-plaintext">
                    <strong>
                        <label asp-for="Contato.Celular" class="col-form-label"></label>
                    </strong>
                    <input asp-for="Contato.Celular" class="form-control" data-mask="(00) 00000-0000" />
                    <span asp-validation-for="Contato.Celular" class="text-danger"></span>
                </div>

                <div class="form-control-plaintext">
                    <strong>
                        <label asp-for="Contato.Email" class="col-form-label"></label>
                    </strong>
                    <input asp-for="Contato.Email" class="form-control" />
                    <span asp-validation-for="Contato.Email" class="text-danger"></span>
                </div>

                <div class="form-control-plaintext">
                    <a class="btn btn-dark" id="btnIncluirContato">
                        <i class="fas fa-plus-circle"></i> Incluir contato
                    </a>            
                </div>
            </div>
        </div>
    </div>
</form>