@model AlphaMarketPDV.Models.ViewModels.FornecedorView.FornecedorViewModel;

<div>
    <div class="card-body">        
        <table id="tab_fornecedores" class="table table-striped table-hover table-row-border compact">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Celular</th>
                    <th>Telefone</th>
                    <th>Ramal</th>
                    <th>Email</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                                      
            </tbody>
        </table>             
    </div>
</div>