@model AlphaMarketPDV.Models.ViewModels.FluxoCaixa.FluxoCaixaGenericViewModel;

@{
    ViewData["Title"] = "Sangria de Caixa";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-header text-white bg-dark text-center h2">
    @ViewData["Title"]
</div>
<hr />

<div class="row">
    <div class="col">
        <form asp-action="Sangria">
            <div class="form-control-plaintext">
                <div class="col-3">
                    <strong>
                        <label asp-for="DataHora" class="col-form-label"></label>
                    </strong>
                    <input asp-for="DataHora" class="form-control" />
                </div>
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <div class="col-3">
                    <strong>
                        <label asp-for="Valor" class="col-form-label"></label>
                    </strong>
                    <input asp-for="Valor" class="form-control" />
                </div>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <input type="submit" value="Gravar" class="btn btn-dark" />
                <input type="button" value="Cancelar" class="btn btn-dark" onclick="cancelar_operacao()" />
            </div>
        </form>
    </div>
</div>

<div class="modal"></div>

@section ScriptPage{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/jquery-3.5.1.js"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables.buttons.min.js"></script>
        <script src="~/js/jszip.min.js"></script>
        <script src="~/js//pdfmake.min.js"></script>
        <script src="~/js/vfs_fonts.js"></script>
        <script src="~/js/buttons.html5.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                asp-fallback-src="~/js/jquery-3.5.1.js">
        </script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"
                asp-fallback-src="~/js/jquery.dataTables.min.js">
        </script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"
                asp-fallback-src="~/js/dataTables.buttons.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
                asp-fallback-src="~/js/jszip.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
                asp-fallback-src="~/js//pdfmake.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"
                asp-fallback-src="~/js/vfs_fonts.js">
        </script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"
                asp-fallback-src="~/js/buttons.html5.min.js">
        </script>
    </environment>

    <script type="text/javascript">

        function cancelar_operacao() {
            window.location.href = "@Url.Action("Index","Home")";
        }

    </script>
}